@model IEnumerable<CapaEntidad.Permiso>

@{
    ViewBag.Title = "DetailsDTPerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Permisos</h2>

<p>
    @* @Html.ActionLink("Create New", "Create")*@
</p>
@section styles{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<table class="table" id="TablaPerm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Regresar", "Informes", new { }, new { @class = "btn btn-primary" })
</div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $('#TablaPerm').DataTable();
    </script>
}